.carousel {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-image img {
    width: 100%;
    display: block;
  }
  
  button {
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
  }
  
  button.prev {
    left: 0;
  }
  
  button.next {
    right: 0;
  }
  
  .indicators {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  .indicators span {
    display: inline-block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .indicators span.active {
    background-color: white;
  }
  