<div class="site-container">

  <!-- Check if the cart is empty -->
  <div *ngIf="cart.length === 0" class="empty-cart py-10 text-center text-2xl w-64">
    <p>Your cart is empty.</p>
  </div>

  <!-- Display cart items -->
  <div *ngIf="cart.length > 0" class="cart-items py-20 flex-col sm:flex-row flex gap-10 w-full">

    <div class="cart-item shadow-md px-5 w-full  md:w-3/4">
      <h1 class="text-2xl">Cart</h1>
      
      <!-- Cart Header (only appears once) -->
      <div class="item-details flex justify-between items-center border-t-[1px] py-2">
        <div class="flex w-1/4"><h4 class="font-medium tracking-wider">Shopping Bag</h4></div>
        <div class="flex justify-between w-3/5">
          <h4>Price</h4>
          <h4>Amount</h4>
          <h4>Total price</h4>
        </div>
      </div>
    
      <!-- Product Details (repeated for each product in cart) -->
      <div *ngFor="let product of cart" class="item-details flex justify-between items-center py-5">
        <div class="flex gap-3 items-center w-1/4">
          <img class="w-16" [src]="product.images[0]?.src" alt="{{ product.name }}" *ngIf="product.images && product.images.length > 0" />
          <h2 class="font-medium tracking-wider">{{ product.name }}</h2>
        </div>
        <div class="flex justify-between w-3/5">
          <p class="font-normal">{{ product.price | currency }}</p>
          <p class="font-normal">{{ product.price | currency }}</p>
          <button (click)="removeFromCart(product)">X</button>
        </div>
      </div>
    </div>
    <!-- Display total price -->
    <div *ngIf="cart.length > 0" class="cart-total py-10 shadow-md px-5 w-full md:w-1/5">
      <h2 class="py-3 text-2xl">Cart Total</h2>
      <ul>
        <li class="flex justify-between"><label for="">Total:</label>
        <span>{{ getTotal() | currency }}</span>
        </li>
      </ul>
    </div>
  </div>

</div>
