<header>
    <div class="topbar">
      <div class="site-container">
            <div class="topbar-inner pt-1">
               
                <div class="logo_inner">
                    <a href="#" class="phone_icon">
                        <img src="assets/images/phone.png" alt="phone" class="">
                      </a>
                      <h6 class="whtsApp">
                        <a href="" class="text-secondary" target="_blank">Need help?</a>
                      </h6>
                </div>
                <div class="social_icon">
                   <a href="" class="phone_icon"><img src="assets/images/fb.png" alt=""></a>
                   <a href="" class="phone_icon"><img src="assets/images/insta.png" alt=""></a>
                </div>
            </div>
            
        </div>           
    </div>
    <div class="main-nav border border-dark pt-2">
      <div class="site-container">
        <div class="main-nav-inner d-flex justify-content-between">
          <button type="button" class="navbar-toggler openNav-icon d-xl-none">
            <span>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
              </svg>
            </span>
          </button>
          
          <div class="log"><img src="/assets/images/logo.png" alt=""></div>
          <nav class="navbar d-lg-flex justify-content-flex-end d-md-none">
            <ul class="nav justify-content-center">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle active"
                  href="#"
                  id="womanDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Woman
                </a>
                <ul class="dropdown-menu" aria-labelledby="womanDropdown">
                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">Bags</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Shoulderbag</a></li>
                      <li><a class="dropdown-item" href="#">Tops</a></li>
                      <li><a class="dropdown-item" href="#">Skirts</a></li>
                    </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Tops</a></li>
                  <li><a class="dropdown-item" href="#">Skirts</a></li>
                </ul>
              </li>
            
              <!-- Other Menu Items -->
              <li class="nav-item">
                <a class="nav-link" href="#">Accessories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Collections</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Contact us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link phone_icon" href="#">
                  <img src="/assets/images/search.png" alt="">Research
                </a>
              </li>
            </ul>
            
            <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link phone_icon" href="#"><img src="/assets/images/cart.png" alt="">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled border dark" href="#">Sign in</a>
            </li>
          </ul>
          </nav>
         
        </div>
      </div>
    </div>
</header>