
<div class=" mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Flex container for desktop and mobile responsiveness -->
    <div class="flex flex-col md:flex-row items-center justify-between py-12">
      
      <!-- Left Section (Text and Button) -->
      <div class="text-center md:text-left md:w-1/2 w-3/12">
        <h4 class="text-2xl font-medium mb-4">
          Discover the new collection!
        </h4>
        <div class="mt-4">
          <button class="bg-black text-white px-6 py-2 rounded-lg hover:bg-white hover:text-black  transition">
            FIND OUT NOW
          </button>
        </div>
      </div>
  
      <!-- Slick Carousel Section -->
      <div class="slick-carousel mt-6 w-9/12">
        <div><img src="/assets/images/L8-min.jpg" alt="Image 1"></div>
        <div><img src="/assets/images/L7-min.jpg" alt="Image 2"></div>
        <div><img src="/assets/images/L6-min.jpg" alt="Image 3"></div>
        <div><img src="/assets/images/L5-min.jpg" alt="Image 4"></div>
        <div><img src="/assets/images/L4plus-min.jpg" alt="Image 5"></div>
        <div><img src="/assets/images/L7-min.jpg" alt="Image 6"></div>
      </div>
    </div>
  </div>
  