/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0px;
    padding: 0px;
}
body p, body a, body li, body button, body span {
    letter-spacing: 1px;
}
.site-container {
    max-width: 1440px;
    padding: 0 20px;
    margin: auto;
}
.navbar a
{
    /* color: #2a2a2a; */
font-size: 16px;
margin: 0 5px;
letter-spacing: 1px;
text-decoration: none;
list-style: none;
}