.homebanner {
    display: block;
    width: 100%;
    background-image: url('/assets/images/bannerimg.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    z-index: 1;
    overflow: hidden;
    position: relative;
  }
  .homebanner:after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, .3);
    inset: 0;
}
  .home-slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: 540px;
    position: relative;
    z-index: 9;
}
.home-slide-btn button{
    border-radius: 10px;
    padding: 12px 40px;
}